@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
  transition: .5s;
}
section {
    padding: 100px 0px;
}
/*---------------------- START HEADER STYLE ---------------------------*/

#header {
    position: absolute;
    width: 100%;
}
.container {
    width: 1170px;
    margin: auto;
    padding: 0px 10px;
}
.hedSticky {
    position: sticky;
    top: 0;
}
.headerWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
/*------------------------ START LOGO STYLE -----------------------------------------*/
.logo h2 {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}
.logo h2 span:first-child {
color: #72dd36;
margin-right: 5px;
}
.logo h2 span:last-child {
  color: #fff;
}
/*------------------------ END LOGO STYLE -----------------------------------------*/

/*------------------------ START NAVIGARION STYLE -----------------------------------------*/
.menu {
overflow: hidden;
}
nav ul {
list-style: none;
}
nav ul li {
float: left;
}
nav ul li a {
text-decoration: none;
display: block;
padding: 20px 25px;
color: #fff;
font-weight: 500;
font-size: 17px;
transition: .3s;
}
nav ul li a:hover {
  color: #72dd36;
}
/*------------------------ END NAVIGATION STYLE --------------------------*/

/*------------------------- START MAIL STYLE ----------------------------*/
.mail {
overflow: hidden;
}
.mail a {
text-decoration: none;
color: #fff;
text-transform: capitalize;
font-size: 18px;
transition: .3s;
font-weight: 400;
}
.mail a:hover {
color: #72dd36;
}
/*------------------------- END MAIL STYLE ----------------------------*/

/*-------------------- END HEADER STYLE ---------------------------------*/

/*------------------------- BANNER STYLE ----------------------------*/

#banner {
  background-image: linear-gradient(to right, #292E49C4, #292E49C4), url(../image/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
}
.mid-ContentWrapper {
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -70%);
}
.midContentbox {
overflow: hidden;
text-align: center;
}
.midContentbox h4 {
color: #cecece;
text-align: center;
font-size: 11px;
letter-spacing: 4px;
text-transform: uppercase;
}
.midContentbox h1 {
color: #fff;
font-size: 40px;
font-weight: 200;
line-height: 55px;
}
.InputBoxes {
text-align: center;
overflow: hidden;
margin-top: 20px;
}
.InputBoxes input:first-child {
border: none;
width: 54%;
padding: 17px 20px;
border-radius: 50px;
color: #333;
font-size: 15px;
outline: none;
}
#getStarted {
border: none;
padding: 18px 36px;
margin-left: -60px;
background-color:  #29ca8e;
color: #f0f0f0;
font-size: 14px;
border-radius: 50px;
cursor: pointer;
transition: .3s;
outline: none;
}
#getStarted:hover {
background-color: #333;
}
/*------------------------- END BANNER STYLE --------------------------*/
.featuresWrapper {
overflow: hidden;
display: flex;
}
.featuresContentBox {
width: 585px;
/*! float: left; */
}
.featuresContentImage {
width: 580px;
}
.featuresContentImage img {
width: 100%;
}
.secHed h2 {
font-size: 40px;
font-weight: 200;
color: #333;
margin-bottom: 40px;
}
.featuresMeta {
overflow: hidden;
}
.featuresMenu {
overflow: hidden;
margin-bottom: 40px;
}
.featuresMeta ul {
list-style: none;
}
.featuresMenu ul li {
float: left;
margin-right: 40px;
}
.featuresMenu ul li a {
text-decoration: none;
display: block;
padding: 10px 0px;
color: #999;
font-size: 20px;
position: relative;
transition: .5s;
}
.featuresMenu ul li a:hover {
color: #333;
}
.featuresMenu ul li a::before {
position: absolute;
content: "";
left: 0;
bottom: 0;
width: 100%;
height: 3px;
background-color: #29ca8e;
opacity: 0;
transition: .5s;
}
.featuresMenu ul li:hover a::before {
opacity: 1;
}
.featuresMenu ul li .active {
color:#333; 
position: relative;
}
.featuresMenu ul li .active:after { 
position: absolute;
content: "";
left: 0;
bottom: 0;
width: 100%;
height: 3px;
opacity: 1;
background-color: #29ca8e;
transition: .5s;
}
.details {
overflow: hidden;
margin-bottom: 20px;
}
.details:last-child {
margin-bottom: 0px;
}
.details h3 {
font-weight: 200;
font-size: 30px;
color: #333;
line-height: 55px;
}
.details p {
line-height: 26px;
font-size: 15px;
color: #777;
}
/*------------------------ START OUR TEAM STYLE ------------------------------*/
#outTeam {
background-color: #f9f9f9;
}
.temBoxWrapper {
overflow: hidden;
}
.secTitle h2 {
text-align: center;
font-size: 35px;
font-weight: 500;
color: #333333c4;
position: relative;
padding-bottom: 19px;
}
.secTitle {
margin-bottom: 40px;
}

.secTitle h2:before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 90px;
height: 4px;
background-color: #72dd36;
margin: auto;
right: 0;
}
.temSingleBoxWrapper {
overflow: hidden;
display: flex;
}
.temSingleBox {
width: 390px;
float: left;
}
.temImage img {
width: 100%;
}
.temTitle-down {
padding: 30px 30px;
background: #fff;
position: relative;
}
.temTitle-down h2 {
color: ##1c1c1cd1;
font-size: 28px;
font-weight: 400;
margin-bottom: 10px;
}
.temTitle-down h4 {
color: #333333fa;
font-weight: 500;
font-size: 18px;
margin-bottom: 10px;
}
.temTitle-down p {
color: #777;
font-size: 15px;
line-height: 25px;
}
.temTitle-down::after {
content: "";
position: absolute;
top: -16px;
left: 0;
width: 29px;
height: 29px;
background-color: #fff;
margin: auto;
right: 0;
transform: rotate(45deg);
}
.temTitle-up {
padding: 30px 30px;
background: #fff;
position: relative;
}
.temTitle-up h2 {
color: ##1c1c1cd1;
font-size: 28px;
font-weight: 400;
margin-bottom: 10px;
}
.temTitle-up h4 {
color: #333333fa;
font-weight: 500;
font-size: 18px;
margin-bottom: 10px;
}
.temTitle-up p {
color: #777;
font-size: 15px;
line-height: 25px;
}
.temTitle-up::after {
content: "";
position: absolute;
bottom: -16px;
left: 0;
width: 29px;
height: 29px;
background-color: #fff;
margin: auto;
right: 0;
transform: rotate(45deg);
}

/*------------------------ END OUR TEAM STYLE ------------------------------*/


.boxWrapper {
overflow: hidden;
/*! display: flex; */
/*! align-items: center; */
/*! column-count: 2; */
}
.boxImage {
width: 580px;
float: left;
}
.boxImage img {
width: 100%;
}

.boxWrapper {
overflow: hidden;
display: flex;
/*! align-items: center; */
/*! column-count: 2; */
}
.boxImage {
width: 585px;
float: left;
}
.boxImage img {
width: 100%;
}
.boxContent {
background-color: #333;
width: 585px;
}
.boxContentMeta {
overflow: hidden;
color: #fff;
padding: 60px;
}
.boxContentMeta p {
font-size: 17px;
width: 400px;
}
.boxContentMeta h2 {
font-size: 30px;
font-weight: 500;
padding: 0px 0px 20px 0px;
}
.boxContentMeta h2 span {
color: #72dd36;
}
.clientMeta {
overflow: hidden;
margin-top: 20px;
display: flex;
align-items: center;
}
.clientMeta img {
width: 60px;
height: 60px;
border-radius: 100%;
border: 2px solid #ddd;
}
.clientMeta span {
margin-left: 12px;
font-size: 18px;
font-weight: 500;
}
.dot span {
background: #fff;
width: 10px;
height: 10px;
/*! margin-right: 15px; */
display: inline-block;
border-radius: 100%;
}
.dot {
margin: auto;
width: 69px;
margin-top: 15px;
}
.dot span:nth-child(2) {
background-color: #72dd36;
}
/*--------------------------------------------- END CLIENT SAYS STYLE ------------------------*/
#pricingPlan {
  background-color: #f9f9f9;
}
.Wrapper {
overflow: hidden;
}
.secTitle h2 .color {
color: #72dd36;
}
.praicingSingleBox {
width: 383px;
float: left;
background-color: #fff;
border-right: 2px solid #dddddd5e;
padding: 20px 40px;
}
.praicingSingleBox:last-child {
  border-right: none !important;
}
.praicingSingleBox h3 {
font-size: 25px;
font-weight: 500;
color: #605d5d;
line-height: 45px;
border-bottom: 2px solid #eaeaea;
margin-bottom: 20px;
padding-bottom: 20px;
}
.praicingSingleBox span {
display: block;
line-height: 40px;
color: #8c8989;
}
.praicingSingleBox span:nth-child(6) {
padding-bottom: 20px !important;
border-bottom: 2px solid #eaeaea;
}
.price {
display: flex;
align-items: center;
margin-top: 20px;
justify-content: space-between;
}
.price h4 {
font-size: 20px;
color: #605d5d;
font-weight: 600;
}
.price #registerBtn {
text-decoration: none;
color: #fff;
padding: 14px 30px;
background: #29ca8e;
display: block;
border-radius: 50px;
font-size: 14px;
font-weight: 600;
transition: .5s;
}
.price #registerBtn:hover {
  background-color: #333;
  color: #fff;
}
/*------------------------- CONTACT STYLE ---------------------------*/
#contact {
  padding: 80px 0px 40px 0px;
}
.contactBoxWrapper {
  overflow: hidden;
}
legend {
  font-size: 18px;
  margin: 0px 14px;
  text-transform: capitalize;
}
fieldset {
  width: 900px;
  margin: auto;
  padding: 20px;
  color: #777;
  border-style: dashed;
  border-color: #a8a8a8;
}
textarea {
  display: block;
  margin: auto;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  width: 100%;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;;
  color: #8e8a8a;
  font-weight: 400;
  outline: none;
  transition: .6s;
}
textarea:focus {
  border-color: #72dd36;
  color: #000;
}
.form-control {
  width: 275px;
  margin: auto;
  display: block;
  float: left;
  margin-right: 10px;
  padding: 10px;
  font-size: 15px;
  border: none;
  outline: none;
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 17px;
  color: #8e8a8a;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  transition: .6s;
}
.form-control:focus {
  border-color: #72dd36;
  color: #000;
}
#sendMsg {
  border: none;
  background-color: #3e3e3e;
  color: #fff;
  border-radius: 50px;
  padding: 12px 0px !important;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.5s;
  width: 275px;
  outline: none;
}
#sendMsg:hover {
  background-color: #29ca8e;
}
/*--------------------------------- FOOTER STYEL ---------------------------*/
#footer {
  padding-bottom: 30px;
}
.footerWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 125px;
}
.copyRight p {
  font-size: 15px;
  color: #777;
}
.socialIcons a {
  display: block;
  float: left;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  /* background-color: #30336b; */
  width: 40px;
  height: 40px;
  padding: 10px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  transition: .5s;
  box-shadow: 0px 0px 7px #a2a0a0;
}
.socialIcons {
  padding: 10px;
}
.socialIcons a:hover {
  background-color: #222562ba;
  color: #fff;
}
.socialIcons a i {
  font-size: 15px;
}